
// imports
@import "variables";


footer {
    width: 100%;
    background: $blue-color;
    text-align: center;
    min-height: 60px; 
    color: $white-color;

    .footer-content {
        background: rgb(88, 159, 218);
        height: 30px;
    }

    ul.links-list  {
        margin-bottom: 0;
        padding-bottom: 5px;
        margin: 0 auto;
    }

    .links-list li {
        display: inline;
        font-size: 1.9rem;
        margin-right: 5px;
    }

    .links-list li:hover {
        font-size: 2.1rem;   
    }

    .links-list a {
        color: $white-color;
        text-decoration: none;
    }

    #copywrite {
        margin: 0 auto;
    }

}