
// imports
@import "mixins";
@import "variables";
@import "navbar";
@import "footer";
@import "sections";  


// main styles

html, body {
    background: $white-color;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

#body-container {
    min-height: 100%;
}


//  javascript added styles
.fade-height {
    height: 50px;
    opacity: 0.75;
    color: black;
    @include transition(height, 1s);
}

