
// imports
@import "mixins";
@import "variables";
@import "navbar";
@import "footer"; 


// main styles
html, body {
    background: $white-color;
    height: 100%;
    margin: 0;
}

#body-container {
    min-height: 100%;
}

#light-text {
    color: $white-color;
    opacity: 1.0;
}

#dark-text {
    color: $dark-grey;
    opacity: 1.0;
}

// header section
 #header {
    background-image: url($main-header);
    background-size: cover;
    height: 700px;
    width: 100%;
 }

@media only screen and (max-width: 400px) {
    #header {
        background-image: url($small-header);
        background-size: cover;
        height: 600px;
    }
}


//  javascript added styles
.fade-height {
    height: 50px;
    opacity: 0.5;
    color: black;
    @include transition(height, 1s);
}

