
// colors
$white-color: ghostwhite;
$blue-color: steelblue;
$dark-grey: darkslategrey;
$sharpie-font: 'Permanent Marker', cursive;
$bold-font: 'Prompt', sans-serif;

// images
$main-header: "../images/mountain.JPG";
$small-header: "../images/mountain3.jpeg";