
// colors
$white-color: ghostwhite;
$primary-color: steelblue;
$light-primary-color: rgb(88, 159, 218);
$section-color: lightsteelblue;
$dark-grey: darkslategrey;


// images
$main-header: "../images/mountain.jpg";
$small-header: "../images/mountain3.jpeg";

// fonts
$title-font: 'Spicy Rice', cursive;
$sharpie-font: 'Permanent Marker', cursive;
$bold-font: 'Prompt', sans-serif;