.main-nav {
  position: fixed;
  top: 0;
  z-index: 100;
  padding-left: 15px;
  padding-right: 15px;
  background: steelblue;
  box-shadow: 0px 3px 5px 0px darkslategrey;
  height: 90px;
  -webkit-transition: height, 1s;
  /* Safari */
  transition: height, 1s;
}
.main-nav .page-title {
  font-family: "Permanent Marker", cursive;
}
.main-nav .nav-menu {
  font-family: "Prompt", sans-serif;
}

.sidenav {
  width: 150px;
  background: ghostwhite;
}

@media only screen and (max-width: 400px) {
  #page-title {
    font-size: 1.7rem;
  }
}
footer {
  width: 100%;
  background: steelblue;
  text-align: center;
  min-height: 60px;
  color: ghostwhite;
}
footer .footer-content {
  background: #589fda;
  height: 30px;
}
footer ul.links-list {
  margin-bottom: 0;
  padding-bottom: 5px;
  margin: 0 auto;
}
footer .links-list li {
  display: inline;
  font-size: 1.9rem;
  margin-right: 5px;
}
footer .links-list li:hover {
  font-size: 2.1rem;
}
footer .links-list a {
  color: ghostwhite;
  text-decoration: none;
}
footer #copywrite {
  margin: 0 auto;
}

section.contentSection {
  padding-top: 60px;
}

.colorSection {
  background: lightsteelblue;
}

.whiteSection {
  background: ghostwhite;
}

section#header {
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  height: 700px;
  width: 100%;
}

section#about .profilePic {
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
section#about .profilePic img {
  height: 300px;
  width: 230px;
}
section#about .bioText {
  position: relative;
  font-size: 1.3em;
}

section#skills {
  height: 300px;
}
section#skills h1 {
  margin-top: 0;
}

section#portfolio {
  height: 300px;
}
section#portfolio h1 {
  margin-top: 0;
}

section#contact {
  height: 300px;
}
section#contact h1 {
  margin-top: 0;
}

.sectionTitle {
  text-align: center;
  font-family: "Spicy Rice", cursive;
}
.sectionTitle h2 {
  margin-top: 0;
  margin-bottom: 0;
}
.sectionTitle hr {
  overflow: visible;
  /* For IE */
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}
.sectionTitle hr:after {
  content: "</>";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  z-index: 1;
}
.sectionTitle hr.light:after {
  background: ghostwhite;
}
.sectionTitle hr.dark:after {
  background: lightsteelblue;
}

@media only screen and (max-width: 400px) {
  section#header {
    background-image: url("../images/mountain3.jpeg");
    background-size: cover;
    height: 600px;
  }

  section#about .profilePic {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }
}
html, body {
  background: ghostwhite;
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
}

#body-container {
  min-height: 100%;
}

.light-text {
  color: ghostwhite;
  opacity: 1;
}

.dark-text {
  color: darkslategrey;
  opacity: 1;
}

.fade-height {
  height: 50px;
  opacity: 0.75;
  color: black;
  -webkit-transition: height, 1s;
  /* Safari */
  transition: height, 1s;
}

/*# sourceMappingURL=index.css.map */
